#<IfModule mod_rewrite.c>
#    RewriteEngine On
#    RewriteRule ^.*$ htaccess_tester.php
#</IfModule>

Options -MultiViews
RewriteEngine On
RewriteBase /Apartment-Management-System/MVC-Structure
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]